<app-back-area [title]="title"></app-back-area>


<!-- =======| Main |======= -->
<div class="container animated fadeInUp" id="main" class="main" role="main" name="users">

    <div class="col-xs-12">
        
        <div class="clear"></div>
        <section class="section configuraciones">


            <!-- Recent Pagos -->
            <div class="container">

                <div class="row">


                    
                    <div class="col-xs-12 col-sm-6 ">
                        <div class="card">
                            <div class="card-body ">
                                <i class="fa fa-cogs"> </i>
                                <h2> Settings</h2>
                                <a [routerLink]="['/dashboard/settings/edit/', 1]">
                                    <button class="btn btn-outline-success btn-block">Ver todos</button>
                                </a>
                                <!-- <ul>
                                <li *ngFor="let rol of roles">{{rol.name}}</li>
                            </ul> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 ">
                        <div class="card">
                            <div class="card-body ">
                                <i class="fa fa-cogs"> </i>
                                <h2> Roles</h2>
                                <a routerLink="/dashboard/rolesconf">
                                    <button class="btn btn-outline-success btn-block">Ver todos</button>
                                </a>
                                <!-- <ul>
                                <li *ngFor="let rol of roles">{{rol.name}}</li>
                            </ul> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Recent Pagos -->

        </section>
    </div>

</div>
<!--/main-->