<!-- =======| Main |======= -->
<div class="container animated fadeInUp" id="main" class="main" role="main" name="users">

    <div class="col-xs-12">
        <div class="leftside">
            <!-- Page Title -->
            <div class="pagetitle">
                <h1><i class="bx bxs-user-account"></i> {{pageTitle}}</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/"><i class="fa fa-home"></i> Inicio</a></li>
                        <li class="breadcrumb-item"><a routerLink="/dashboard/directorio">Directorio</a></li>
                        <li class="breadcrumb-item active">{{pageTitle}}</li>
                    </ol>
                </nav>
            </div>
            <!-- End Page Title -->
        </div>
        <div class="buton">
            <button class="btn btn-outline-success pull-right" (click)="guardarDirectorio()">Guardar</button>
            <button class="btn btn-outline-danger pull-right" href="javascript:void(0)" (click)="goBack()">Volver</button>
        </div>

        <div class="clear"></div>


        <section class="section dashboard">

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">


                            <form class="form-horizontal form-material" (ngSubmit)="guardarDirectorio()" [formGroup]="directorioForm" enctype="multipart/form-data">
                                <div class="row ">

                                    <div class=" col-xs-12 col-md-4">
                                        <label>Nombres <span class="required">*</span></label>
                                        <input type="text" formControlName="name" class="form-control" required>

                                    </div>
                                    <div class="col-xs-12 col-md-4">
                                        <label>Apellidos <span class="required">*</span></label>
                                        <input type="text" formControlName="surname" class="form-control" required>

                                    </div>
                                    <div class="col-xs-12 col-md-4">
                                        <label for="exampleInputEmail1">Email<span class="required">*</span></label>
                                        <input type="text" formControlName="email" class="form-control" required>

                                    </div>
                                    <div class="col-xs-12 col-md-4">
                                        <label for="exampleInputEmail1">Password<span class="required">*</span></label>
                                        <input type="text" formControlName="password" class="form-control" required>

                                    </div>
                                    <div class="col-xs-12 col-md-4">
                                        <label for="exampleInputEmail1">NDoc<span class="required">*</span></label>
                                        <input type="text" formControlName="n_doc" class="form-control" required>

                                    </div>
                                    <div class="col-xs-12 col-md-4">
                                        <label for="exampleInputEmail1">Role <span class="required">*</span></label>

                                        <select name="" id="input" class="form-control" formControlName="role" required="required">
                                      <option value="">Seleccione</option>
                                      <option value="SUPERADMIN">Super Admin</option>
                                      <option value="ADMIN">Admin</option>
                                      <option value="EDITOR">Editor</option>
                                    </select>
                                    </div>
                                </div>


                                <input type="hidden" formControlName="id">
                                <button class="btn btn-outline-success waves-effect waves-light m-r-10" (click)="guardarDirectorio()" type="submit">Guardar</button>


                            </form>


                        </div>
                        <!-- {{error}} -->
                    </div>
                </div>
            </div>

        </section>

    </div>

</div>
<!--/main-->